body{
    background-color: bisque;
    width: 70%;
    height: 700px;
    margin: auto;
}

form{
    background-color: #ffffff;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px grey;
    margin: auto;
    margin-top: 100px;
}

.form-txt{
    font-size: 2.2em;
    text-align: center;
    position: relative;
    top: 90px;
    margin-bottom: auto;
    cursor: context-menu;
}

p{
    text-align: center;
    position: relative;
    top: 120px;

}

input{
    margin-bottom: 20px;
    outline: none;
}

.email{
    border: 0px;
    border-bottom: 1px solid black;
    line-height: 35px;
    font-size: 1.2em;
}

.password{
    border: 0px;
    border-bottom: 1px solid black;
    line-height: 35px;
    font-size: 1.2em;
}

input[type="submit"]{
    background-color: coral;
    color: #ffffff;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: 0px solid black;
    font-size: 1.3em;
    margin-top: 20px;
    cursor: pointer;
}

.bottom-txt{
    margin-top: 90px;
    font-size: 0.9em;
}

a{
    color: black;
    text-decoration: none;
}